%flex{
    display: flex;
    flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    display: -ms-flexbox;
}
%transition{
    transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
    -ms-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
}
%border{border: 1px solid $border-color;}
%border-top{border-top: 1px solid $border-color;}
%border-left{border-left: 1px solid $border-color;}
%border-right{border-right: 1px solid $border-color;}
%border-bottom{border-bottom: 1px solid $border-color;}
%themeboxshadow{
    box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
    -webkit-box-shadow: 0px 2px 4px rgba(40, 41, 61, 0.04), 0px 8px 16px rgba(96, 97, 112, 0.16);
}