$radius: 10px;
$text-color:#999;
$border-color:#EAEAEA;
$bg-color: #F7F7F7;
$theme-color: #1570EF;
$anchor-color:#3C57E5;
$primary-color: #0A0F26;
$whatsapp-color: #075E54;
$whatsapp-color2: #25D366;
$body-font-family: 'SF Pro Text';
$heading-font-family: 'SF Pro Text';