@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 200;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-Ultralight.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 200;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-UltralightItalic.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-Light.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 300;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-LightItalic.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-Regular.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-RegularItalic.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-Medium.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-MediumItalic.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-Semibold.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-SemiboldItalic.otf) format("opentype");
}
@font-face {
  font-family: "SF Pro Text";
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(fonts/SF-Pro-Text-Bold.otf) format("opentype");
}